.ygo-player-core {
    .ygo-btn {
        background: var(--ygo-background-color);
        border: none;
        font-weight: bold;
        border-radius: var(--ygo-border-radius-small);
        color: #FFF;
        font-size: 16px;
        padding: 8px 14px;
        cursor: pointer;
    }

    .ygo-btn-primary {
        background: var(--ygo-primary-color);

        &:hover {
            background-color: var(--ygo-primary-hover-color);
        }
    }

    .ygo-btn-secondary {
        background: var(--ygo-border-color);

        &:hover {
            background-color: var(--ygo-action-color-dark);
        }
    }

    .ygo-btn-action {
        background: var(--ygo-border-color);
    }

    .ygo-btn-action:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .ygo-btn-action:hover:not(:disabled) {
        background: var(--ygo-action-color-dark);
    }
}