@import "ygo-player/style.css";
@import "ygo-core-images-utils/style.css";
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.border {
  border: 1px solid #dbdbdb;
}

.col {
  width: 100%;
}