.ygo-player-core .ygo-duel-log-container {
    position: absolute;
    right: 0px;
    top: 20px;
    height: 100%;
    width: 150px;
    color: #FFF;
    background-color: var(--ygo-overlay-background-color);
    border: 1px solid var(--ygo-border-color);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    max-height: calc(100% - var(--ygo-footer-margin) - 20px);
}

.ygo-player-core .ygo-duel-log-container .ygo-logs>* {
    border-bottom: 1px solid var(--ygo-border-color);
}